name: Lint
on:
  pull_request: ~
  push:
    branches:
      - main
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      # SHA-pinned actions (prevent tag hijacking)
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - uses: ./.github/actions/prepare
      - run: pnpm lint
